* {
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(city.png);
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  color: #ffffff;
}

footer {
  background-color: #ffffff22;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 0px 0px 5px 5px;
  color: #ffffff;
  text-align: center;
  font-size: 0.8em;
  padding: 10px;

  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer a {
  font-weight: bolder;
  text-decoration: underline;
  color: #ffffff;
}
