:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #0b88ee;
  --cor4: #1a5c37;
  --cor5: #06113d;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", cursive;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(../Dia2-helloword/imagens/fundo.png);
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 320px;
}

header {
  background-color: #ffffff22;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
  border-radius: 15px 15px 0px 0px;
}

h1 {
  color: white;
  font-family: var(--fonte-destaque);
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 20px;
}

footer {
  background-color: #ffffff22;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 0px 0px 15px 15px;
  color: rgb(4, 4, 4);
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}

footer a {
  font-weight: bolder;
  text-decoration: underline;
  color: #0a0a0a;
}
