*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #3a86ff, #84b7fe);
}
h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
}
.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

}

.grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5px;
    border: ridge;
    border-color: #3a86ff
    ;
    outline: none;
    background-color: #3a86ff;
    color: #eee;
}

.grid-container > button:hover{
    background-color: #eee;
    color: #111;
}

.grid-container > .operator {
    background: #ffb724;
}

.span-two {
    grid-column: span 2;
    
}

.grid-container > .output {
    border: ridge;
    border-color: #3a86ff;
    grid-column: 1 / -1;
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.grid-container > .output > .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.grid-container > .output > .current-operand {
    color: white;
    font-size: 2.5rem;
}